@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @theme {
--color-gray-50   : #F9FAFB;
--color-gray-100  : #F3F4F6;
--color-gray-200  : #E5E7EB;
--color-gray-300  : #D1D5DB;
--color-gray-400  : #9CA3AF;
--color-gray-500  : #6B7280;
--color-gray-600  : #4B5563;
--color-gray-700  : #374151;
--color-gray-800  : #1F2937;
--color-gray-900  : #111827;
--color-gray-950  : #030712;

--color-blue-50   : #EFF6FF;
--color-blue-100  : #DBEAFE;
--color-blue-200  : #BFDBFE;
--color-blue-300  : #93C5FD;
--color-blue-400  : #60A5FA;
--color-blue-500  : #3B82F6;
--color-blue-600  : #2563EB;
--color-blue-700  : #1D4ED8;
--color-blue-800  : #1E40AF;
--color-blue-900  : #1E3A8A;
--color-blue-950  : #0A1E63;
} */
.barlow{
    font-family: 'Barlow-Condensed';
}
.poppins{
    font-family: 'Poppins' !important;
}