.auth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #facc15, #fb923c, #f97316); /* animated-gradient if you have */
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* smooth slide effect */
  width: 100%;
  height: 100vh;
}

.slide {
  flex: 0 0 100%; /* each slide takes full width */
  display: flex;
  padding: 0% 5%;
  justify-content: center;
  align-items: center;
}
